
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" href="#">
        <a href="/">
        <img
          src="https://dynamic.brandcrowd.com/preview/logodraft/ead3c612-ce7a-4e63-a784-78188cf0c882/image/large.png"
          height="50"
          width="120"
          alt="MDB Logo"
          loading="lazy"
        /></a>
      </a>
      <!-- Left links -->
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center">
      <!-- Icon -->
      <a class="text-reset me-3" href="/cart">
        <i class="fas fa-shopping-cart"></i>
      </a>

      <!-- Notifications -->
      <div class="dropdown">
        <a
          class="text-reset me-3 dropdown-toggle hidden-arrow"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="fas fa-bell"></i>
          <span class="badge rounded-pill badge-notification bg-danger" id="notification-count"></span>
        </a>

        <!-- Notifications -->
        
        <!-- Notifications -->

        <ul
          id="notifications-list"
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuLink"
        >

        </ul>
      </div>
      <!-- Avatar -->
      <div class="dropdown">
              {{#if (checkLogin session)}}
                <a href="/login" class="btn btn-primary"
                style="padding-left: 1rem; padding-right: 1rem;">Login</a>
                
                <a href="/signup" class="btn btn-primary"
                style="padding-left: 1rem; padding-right: 1rem;">Signup</a>
                
              {{else}}
                <a
                  class="dropdown-toggle d-flex align-items-center hidden-arrow"
                  href="#"
                  id="navbarDropdownMenuAvatar"
                  role="button"
                  data-mdb-toggle="dropdown"
                  aria-expanded="false"
                >
                <i class="fa-solid fa-user"></i>
                
                </a>
              {{/if}}
          
        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuAvatar"
        >
          <li>
            <a class="dropdown-item" href="#">{{session.user.username}}</a>
          </li>
          {{#if (checkAdmin session)}}
            <li>
              <a class="dropdown-item" href="/dashboard">Dashboard</a>
            </li>
          {{else}}
          {{/if}}
          <li>
            <a class="dropdown-item" href="/history">History</a>
          </li>
          <li>
            <a class="dropdown-item" id="logout-btn" href="#">Logout</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
<script>

const renderNotification = (result) => {
  let html = '';
          for(let i = 0; i < result.length; i++){
            html += `
              <li>
                <p class="dropdown-item">${result[i].noiDung} - ${result[i].thoiGian} <button type="button" onclick="removeNotification(this)" class="btn btn-danger sm" data-id="${result[i].maTB}">X</button></p>
              </li>
          `
  }
  if(result.length == 0){
    $('#notification-count').html(``);
    html += `
              <li>
                <p class="dropdown-item">Không có thông báo nào</p>
              </li>
          `
  } else {
    $('#notification-count').html(result.length);
  }
  
  $('#notifications-list').html(html);
}  


        $.ajax({
        url: "/notifications/get-all",
        method: 'GET',
        dataType: 'json',
        success: function(result){
          renderNotification(result);
        }});

  const removeNotification = (e) => {
    let id = e.dataset.id;
    $.ajax({
        url: "/notifications/delete-one/" + id,
        method: 'GET',
        dataType: 'json',
        success: function(result){
          renderNotification(result);
        }});
  }
        

  let logoutBnt = document.getElementById("logout-btn");
  logoutBnt.onclick = (e) => {
      e.preventDefault();
      Swal.fire({
          title: 'Are you sure?',
          showDenyButton: true,
          confirmButtonText: 'Yes',
          denyButtonText: 'No',
          customClass: {
            actions: 'my-actions',
            cancelButton: 'order-1 right-gap',
            confirmButton: 'order-2',
            denyButton: 'order-3',
          }
        }).then((result) => {
          if (result.isConfirmed) {
            window.location.href = "/logout";
          } else if (result.isDenied) {
            e.preventDefault();
            Swal.fire('Changes are not logout', '', 'error')
          }
  })

  }
</script>