<div class="list-group">
    <div id="history-body"></div>
</div>

<script>

    const renderHistory = (result) => {
        let html = '';
        for(let i=0;i<result.length;i++){
            html += `
            <a href="/history/detail/${result[i].maHD}" class="list-group-item list-group-item-action">Mã Hoá Đơn: ${result[i].maHD} - Người nhận hàng: ${result[i].fullname} - Ngày mua: ${result[i].ngayLap} - Tổng tiền: ${result[i].tongTien}</a>
            `;
        }
        $('#history-body').html(html);
    }

    $.ajax({
        url: "/history/get-all",
        method: 'GET',
        dataType: 'json',
        success: function(result){
            console.log(result);
          renderHistory(result);
        }
    });


</script>